/* Нормализация и сбросы */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    position: relative;
    min-width: 375px;
    scroll-behavior: smooth;
}

body {
    min-width: 375px;
    max-width: 1440px;
    margin: 0 auto;
    font-family: Raleway, sans-serif;
}

h1, h2, h3, h4, p,
ul, ol, li,
blockquote, pre,
dl, dd {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button,
input {
    font: inherit;
}

button {
    cursor: pointer;
}

/* Скрыть элемент визуально, но оставить доступным для скринридеров */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
